*{
    margin: 0;
    padding: 0;
}

body{
    background: #e5e5e5;
    font-family: Arial;
}

#main{
    width:750px;
}

#wrapper {
    width:960px;
    margin:0 auto;
}

#header {
    background-color: rgba(255, 165, 0, 0.71);
    width: 1366px;
}

#left{
    width: 150px;
}

#right{
    background-color:#FFD700;
    float:right;
}

#content{
    background-color: #EEEEEE;
    width: 1000px;
    float: right;
}

.clr{
    clear: both;
}

#footer {
    background-color:#FFA500;
    clear:both;
    text-align:center;
}
#bignews {
    background-color: #036;
    background-image: none;
    height: 300px;
    width: 345px;
}
#smallnews {
    background-color: #060;
    height: 150px;
    width: 345px;
}

td{
    vertical-align: top;
}

#post h2 a:hover{
    color: #c00;
}

#post h2 a{
    text-decoration: none;
    color: #000;
}

#post h2 a:visited{
    color: #c00;
}

#nav{
    
}

.clearfix{
    clear: both;
    zoom: 1;
}

.catItem{
    list-style: none;
    float: left;
    font-size: 17px;
    color: white;
    line-height: 47px;
    padding: 0 22px 0 15px;
    background-color: #303;
}

.catItem:hover
{
    list-style: none;
    float: left;
    font-size: 17px;
    color: white;
    line-height: 47px;
    padding: 0 22px 0 15px;
    background-color: #FF0;
}

.catItem a {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

.catItem a:hover {
    font-size: 18px;
    color: #303;
    text-decoration: none;
}
